@import "tailwindcss";
@import "tw-animate-css";
@import "../assets/utils.css";
@import "../assets/fonts.css";
@import "../assets/typography.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    /* --default-font-family: var(--font-sf-pro-display); */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sf-pro-display);
    --font-mono: var(--font-geist-mono);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --spacing-8xl: var(--space-8xl);
    --spacing-fhd: var(--screen-fhd);
    --spacing-xs: var(--xs-mobile);

    --color-border-primary: var(--border-primary);
    --color-solid-light: var(--solid-light);
    --color-natural-tertiary: var(--content-natural-tertiary);
    --color-border-natural-dark: var(--border-natural-dark);
    --color-content-natural-primary: var(--content-natural-primary);
    --color-content-natural-secondary: var(--content-natural-secondary);
    --color-background-container: var(--background-container);
    --color-background-main: var(--background-main);
    --color-background-secondary: var(--background-secondary);
    --color-danger-solid: var(--danger-solid);
    --color-primary-solid: var(--primary-solid);
    --color-secondary-solid: var(--secondary-solid);
    --color-border-primary: var(--border-primary);
    --color-secondary-solid-light: var(--secondary-solid-light);
}

:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(10.627% 0.01722 259.555);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(53.508% 0.20749 259.018);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);

    /* custom properties */

    --font-sf-pro-display: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

    --xs-mobile: 360px;
    --space-8xl: 1440px;
    --screen-fhd: 1920px;
    --border-primary: oklch(89.952% 0.0279 265.469);
    --solid-light: oklch(96.166% 0.13521 105.531);
    --content-natural-tertiary: oklch(50.429% 0.07934 262.782);
    --border-natural-dark: oklch(13.414% 0.02235 260.22);
    --border-primary: oklch(89.965% 0.04066 254.094);
    --content-natural-primary: oklch(10.627% 0.01722 259.555);
    --content-natural-secondary: oklch(39.875% 0.08325 263.054);
    --background-container: oklch(97.184% 0.00919 258.495);
    --background-main: oklch(97.879% 0.00529 95.189);
    --background-secondary: oklch(97.107% 0.02485 106.93);
    --danger-solid: oklch(66.271% 0.19263 39.074);
    --primary-solid: oklch(53.508% 0.20749 259.018);
    --secondary-solid: oklch(90.129% 0.18045 97.815);
    --secondary-solid-light: oklch(96.166% 0.13521 105.531);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
