/* Default button shadow utility */
@utility shadow-default-button {
    box-shadow: 0px 2px 7.4px 0px #ffffff40 inset, 0px 4px 8px 0px #0064e24d;
}

@utility shadow-outline-button {
    box-shadow: 0px 2px 7.4px 0px #ffffff40 inset, 0px 7px 16px 0px #0064e24d;
}

@utility shadow-button-white {
    box-shadow: 0 4px 8px 0 rgba(0, 100, 226, 0.3), 0 2px 7.4px 0 rgba(255, 255, 255, 0.25) inset;
}

/* Curricula image container */

@utility curricula-image-container {
    clip-path: polygon(
        0.157% 9.721%,
        0.157% 9.721%,
        0.222% 8.573%,
        0.408% 7.483%,
        0.706% 6.465%,
        1.107% 5.532%,
        1.6% 4.701%,
        2.175% 3.984%,
        2.823% 3.397%,
        3.533% 2.953%,
        4.296% 2.668%,
        5.101% 2.555%,
        94.865% 0.132%,
        94.865% 0.132%,
        95.694% 0.206%,
        96.482% 0.463%,
        97.218% 0.889%,
        97.891% 1.467%,
        98.49% 2.183%,
        99.005% 3.021%,
        99.424% 3.967%,
        99.737% 5.006%,
        99.932% 6.121%,
        100% 7.299%,
        100% 65.585%,
        100% 65.585%,
        99.931% 66.975%,
        99.731% 68.311%,
        99.407% 69.578%,
        98.968% 70.76%,
        98.424% 71.844%,
        97.781% 72.813%,
        97.051% 73.654%,
        96.24% 74.351%,
        95.357% 74.89%,
        94.411% 75.255%,
        6.172% 100%,
        6.172% 100%,
        5.246% 100.137%,
        4.35% 100.037%,
        3.499% 99.719%,
        2.709% 99.202%,
        1.997% 98.504%,
        1.377% 97.645%,
        0.868% 96.643%,
        0.484% 95.517%,
        0.242% 94.285%,
        0.157% 92.968%,
        0.157% 9.721%
    );
}

@utility hide-scroll {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */

    &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
    }
}
